*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    border: 1px solid red;
    justify-items: center;
    align-items: center;
    height: 3rem;
    margin-bottom: 2rem;
}